<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adverts</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<form action="../AdSearch.php" method="get" id="search">

    <div id="filters">
        <p id="preface">Input your search criteria below to find matching ads, or just hit search to look through all of them:</p>
        <div class="col-lg-6">
            <label><p>Search by Ad name: </p><input type="text" name="adname" id="adname"></label>
            <label><p>Maximum Price: £</p><input type="number" name="maxprice" id="maxprice"></label>
            <label><p>Minimum Price: £</p><input type="number" name="minprice" id="minprice"></label>
        </div>
        <div class="col-lg-6" id="right">
            <label><p>Say where you're looking: </p><input type="text" name="location" id="location"></label>
            <label><p>Pick the colours that you want to see: <br>(Hold ctrl to select multiple)<br>Defaults to all colours </p><select multiple name="colours[]" id="colours">
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
            </select></label>
            <label><p>Sort by: </p><select name="sort">
                <option value="None">Default: Ad age</option>
                <option value="PriceA">Price: Ascending</option>
                <option value="PriceD">Price: Descending</option>
                <option value="Name">Name: Alphabetical</option>
            </select></label>
            <label><input type="submit" name="submit" value="Search"></label>
        </div>
    </div>