body {
    padding-top: 50px;
    background-color: #f5f5f5;
}
@media screen and (max-width: 1199px) {
    body {
        padding: 100px;
    }
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.adSmall{
    margin: 1vw;
    padding: 1vw;
    background-color: white;
    border-radius: 1vw;
    border: 2px solid gray;
}
.adSmall img{
    width:100%;
    border-radius:50%;
    border:2px solid gray;
}
.adSmall h1{
    padding-left:5%;
    width:40%;
    float:right;
    display:inline-block;
}
.adSmall p{
    padding-top:1%;
}
.adSmall .imageWrap{
    width: 40%;
    display:inline-block;
}
#login{
    display: inline-block;
    float:right;
}
#login input{
    display:inline-block;
}
#login p{
    display: inline-block;
    color: #eee;
    padding: 15px 5px 4px 0px;
}
#lga{
    display:inline-block;
}
#loginform{
    display:none;
}
#logout{
    padding: 5px 5px 5px 5px;
    background-color: steelblue;
    color: black;
    border-radius: 3px;
    margin-right: 2vw;
    margin-left: 20px;
}
#loginbutton{
    padding: 5px 5px 5px 5px;
    background-color: steelblue;
    color: black;
    border-radius: 3px;
    margin-right: 2vw;
    border: 0px;

}

#Create label{
    margin-top:2em;
    display: block;
}
#search label{
    margin-top:2em;
    display: block;
}
#SignUp label{
    margin-top:2em;
    display: block;
}
label p{
    display:inline-block;
}
label input{
    display: inline-block;
}
#addesc{
    vertical-align: text-top;
}
#colours{
    vertical-align: text-bottom;
}
#preface{
    padding-left:1em;
    font-weight: bold;
}
#filters{
    background-color: burlywood;
    margin:2vw auto 2vw auto;
    border-radius: 7px;
    width:75%;
    display:block;
    position:static;
    overflow-y:auto;
    padding:1vw;
}
#introtext{
    margin:1vw;
}
.SmallAd{
    color:black !important;
}

.LeftBig .imageWrap{

}

.imgbig{
    max-width:100%;
    border-radius: 50%;
    border:2px solid gray;
}

.block{
    display:block;
}

#SignUp textarea{
    height: 2em;
    vertical-align: text-top;
}
#captcha p{
    display:block;
}
#captcha input{
    margin-left: 2em;
    width: 3em;
}

.bold{
    font-weight: bold;
}